# Prédiction du Secteur le plus rentable au Maroc

**Nettoyage et Prétraitement des Données**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [2]:
df= pd.read_csv(r"C:\Users\DELL\Documents\projet_data_mining\DataSet.csv")
df.head()

,Secteur,Année,Actifs occupés,Capitalisation boursière,Consommation Finale,Consommation intermédiaire,Excédent brut d'exploitation,Exportations,Importations,FBCF,Impôts sur les produits,PIB,Production nationale,Salaires bruts,Volume des échanges
0,Agriculture,2010,NaN,25269,NaN,50579.0,89427.0,NaN,NaN,NaN,4757.0,NaN,152137.0,11308.0,"1158,6"
1,Agriculture,2011,"39,8",20253,68921.31431,57002.0,95308.0,13318.75732,16005.18334,"5495,191774",5263.0,"111530,6959",164596.0,11313.0,1425
2,Agriculture,2012,"39,2",24546,NaN,59077.0,91773.0,12210.29424,16382.96412,"5519,448239",3813.0,"102790,1822",163617.0,11636.0,"2383,3"
3,Agriculture,2013,"39,3",26768,69531.01265,61613.0,106575.0,12739.18513,13040.9909,"5617,593357",3177.0,"121111,2982",181841.0,12437.0,"9872,2"
4,Agriculture,2014,"39,4",25781,71980.46408,61861.0,93806.0,13371.04799,17314.30029,"5694,959604",3013.0,"118316,918",169766.0,12679.0,"6171,6"

In [3]:
df.shape

(77, 15)

In [4]:
df.isnull().sum()

Secteur                          0
Année                            0
Actifs occupés                  37
Capitalisation boursière        14
Consommation Finale              8
Consommation intermédiaire       7
Excédent brut d'exploitation    14
Exportations                    17
Importations                    17
FBCF                            37
Impôts sur les produits          7
PIB                              7
Production nationale             7
Salaires bruts                  14
Volume des échanges             21
dtype: int64

In [5]:
df.isnull().sum().sum()

207

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Secteur                       77 non-null     object
 1   Année                         77 non-null     int64
 2   Actifs occupés                40 non-null     object
 3   Capitalisation boursière      63 non-null     object
 4   Consommation Finale           69 non-null     object
 5   Consommation intermédiaire    70 non-null     float64
 6   Excédent brut d'exploitation  63 non-null     float64
 7   Exportations                  60 non-null     object
 8   Importations                  60 non-null     object
 9   FBCF                          40 non-null     object
 10  Impôts sur les produits       70 non-null     float64
 11  PIB                           70 non-null     object
 12  Production nationale          70 non-null     float64
 13  Salaires bruts                63 non-null     float64
 14  Volume des échanges           56 non-null     object
dtypes: float64(5), int64(1), object(9)
memory usage: 9.2+ KB

In [7]:
df=df.dropna(thresh=41,axis=1)

In [8]:
for i in range(2010,2021):
    null_valeur_par_annee=df[df['Année'] == i].isnull().sum(axis=1).sum()
    print("l'annee",i,"=",null_valeur_par_annee)
    for j in ['Agriculture', 'Industrie', 'BTP', 'Énergie', 'Tourisme', 'Commerce', 'Services']:
        null_valeur_par_secteur=df[(df['Année'] == i) & (df['Secteur'] == j)].isnull().sum(axis=1).sum()
        print("\t",j,"=",null_valeur_par_secteur, "/13")

l'annee 2010 = 28
	 Agriculture = 4 /13
	 Industrie = 4 /13
	 BTP = 4 /13
	 Énergie = 4 /13
	 Tourisme = 4 /13
	 Commerce = 4 /13
	 Services = 4 /13
l'annee 2011 = 2
	 Agriculture = 0 /13
	 Industrie = 0 /13
	 BTP = 0 /13
	 Énergie = 0 /13
	 Tourisme = 0 /13
	 Commerce = 2 /13
	 Services = 0 /13
l'annee 2012 = 3
	 Agriculture = 1 /13
	 Industrie = 0 /13
	 BTP = 0 /13
	 Énergie = 0 /13
	 Tourisme = 0 /13
	 Commerce = 2 /13
	 Services = 0 /13
l'annee 2013 = 2
	 Agriculture = 0 /13
	 Industrie = 0 /13
	 BTP = 0 /13
	 Énergie = 0 /13
	 Tourisme = 0 /13
	 Commerce = 2 /13
	 Services = 0 /13
l'annee 2014 = 2
	 Agriculture = 0 /13
	 Industrie = 0 /13
	 BTP = 0 /13
	 Énergie = 0 /13
	 Tourisme = 0 /13
	 Commerce = 2 /13
	 Services = 0 /13
l'annee 2015 = 2
	 Agriculture = 0 /13
	 Industrie = 0 /13
	 BTP = 0 /13
	 Énergie = 0 /13
	 Tourisme = 0 /13
	 Commerce = 2 /13
	 Services = 0 /13
l'annee 2016 = 2
	 Agriculture = 0 /13
	 Industrie = 0 /13
	 BTP = 0 /13
	 Énergie = 0 /13
	 Tourisme = 0 /13
	 Commerce = 2 /13
	 Services = 0 /13
l'annee 2017 = 2
	 Agriculture = 0 /13
	 Industrie = 0 /13
	 BTP = 0 /13
	 Énergie = 0 /13
	 Tourisme = 0 /13
	 Commerce = 2 /13
	 Services = 0 /13
l'annee 2018 = 9
	 Agriculture = 1 /13
	 Industrie = 1 /13
	 BTP = 1 /13
	 Énergie = 1 /13
	 Tourisme = 1 /13
	 Commerce = 3 /13
	 Services = 1 /13
l'annee 2019 = 30
	 Agriculture = 4 /13
	 Industrie = 4 /13
	 BTP = 4 /13
	 Énergie = 4 /13
	 Tourisme = 4 /13
	 Commerce = 6 /13
	 Services = 4 /13
l'annee 2020 = 51
	 Agriculture = 7 /13
	 Industrie = 7 /13
	 BTP = 7 /13
	 Énergie = 7 /13
	 Tourisme = 7 /13
	 Commerce = 9 /13
	 Services = 7 /13

In [9]:
df=df.dropna(thresh=10,axis=0)

In [10]:
for i in range(2010,2021):
    null_valeur_par_annee=df[df['Année'] == i].isnull().sum(axis=1).sum()
    print("l'annee",i,"=",null_valeur_par_annee)

l'annee 2010 = 0.0
l'annee 2011 = 2
l'annee 2012 = 3
l'annee 2013 = 2
l'annee 2014 = 2
l'annee 2015 = 2
l'annee 2016 = 2
l'annee 2017 = 2
l'annee 2018 = 9
l'annee 2019 = 0.0
l'annee 2020 = 0.0

In [11]:
df.isnull().sum()

Secteur                         0
Année                           0
Capitalisation boursière        0
Consommation Finale             1
Consommation intermédiaire      0
Excédent brut d'exploitation    0
Exportations                    8
Importations                    8
Impôts sur les produits         0
PIB                             0
Production nationale            0
Salaires bruts                  0
Volume des échanges             7
dtype: int64

In [12]:
df.isnull().sum().sum()

24

In [13]:
x=df[['Importations','Exportations']].fillna(0)
df.update(x)

In [14]:
df=df.ffill()

In [15]:
df.isnull().sum().sum()

0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, 1 to 74
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Secteur                       56 non-null     object
 1   Année                         56 non-null     int64
 2   Capitalisation boursière      56 non-null     object
 3   Consommation Finale           56 non-null     object
 4   Consommation intermédiaire    56 non-null     float64
 5   Excédent brut d'exploitation  56 non-null     float64
 6   Exportations                  56 non-null     object
 7   Importations                  56 non-null     object
 8   Impôts sur les produits       56 non-null     float64
 9   PIB                           56 non-null     object
 10  Production nationale          56 non-null     float64
 11  Salaires bruts                56 non-null     float64
 12  Volume des échanges           56 non-null     object
dtypes: float64(5), int64(1), object(7)
memory usage: 6.1+ KB

In [17]:
column_name = 'Capitalisation boursière','Consommation Finale','Exportations','Importations','PIB','Volume des échanges' 

for name in column_name:
     df[name] = df[name].apply(lambda x: float(x.replace(',', '.')) if isinstance(x, str) else x)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, 1 to 74
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Secteur                       56 non-null     object
 1   Année                         56 non-null     int64
 2   Capitalisation boursière      56 non-null     float64
 3   Consommation Finale           56 non-null     float64
 4   Consommation intermédiaire    56 non-null     float64
 5   Excédent brut d'exploitation  56 non-null     float64
 6   Exportations                  56 non-null     float64
 7   Importations                  56 non-null     float64
 8   Impôts sur les produits       56 non-null     float64
 9   PIB                           56 non-null     float64
 10  Production nationale          56 non-null     float64
 11  Salaires bruts                56 non-null     float64
 12  Volume des échanges           56 non-null     float64
dtypes: float64(11), int64(1), object(1)
memory usage: 6.1+ KB

In [19]:
df.shape

(56, 13)

In [20]:
df.head(56)

,Secteur,Année,Capitalisation boursière,Consommation Finale,Consommation intermédiaire,Excédent brut d'exploitation,Exportations,Importations,Impôts sur les produits,PIB,Production nationale,Salaires bruts,Volume des échanges
1,Agriculture,2011,20253.00,68921.31431,57002.0,95308.0,13318.757320,16005.183340,5263.0,111530.69590,164596.0,11313.00000,1425.00
2,Agriculture,2012,24546.00,68921.31431,59077.0,91773.0,12210.294240,16382.964120,3813.0,102790.18220,163617.0,11636.00000,2383.30
3,Agriculture,2013,26768.00,69531.01265,61613.0,106575.0,12739.185130,13040.990900,3177.0,121111.29820,181841.0,12437.00000,9872.20
4,Agriculture,2014,25781.00,71980.46408,61861.0,93806.0,13371.047990,17314.300290,3013.0,118316.91800,169766.0,12679.00000,6171.60
5,Agriculture,2015,23982.00,74250.00000,65161.0,109493.0,15318.006820,14119.959940,2857.0,131910.00000,189833.0,13785.00000,3520.00
6,Agriculture,2016,26863.00,72807.00000,58543.0,105902.0,16734.877910,19949.451350,3325.0,115448.00000,180097.0,13895.00000,4078.30
7,Agriculture,2017,33294.00,77073.00000,67023.0,114012.0,17298.976000,16825.737610,3252.0,130545.00000,198442.0,15366.00000,5260.20
8,Agriculture,2018,32739.00,78466.00000,69362.0,117358.0,17883.220870,18224.061240,3679.0,133743.00000,204780.0,15832.00000,5260.20
12,Industrie,2011,43216.00,220169.70000,354915.0,111430.0,135099.833600,291781.853400,63247.0,129997.96690,513622.0,36273.00000,5931.00
13,Industrie,2012,39618.00,225478.33000,373164.0,113333.0,141411.589100,305109.854300,66178.0,131812.66720,535730.0,37758.00000,4153.00
14,Industrie,2013,35946.00,229210.41000,369468.0,118835.0,143428.776800,305349.965300,65537.0,130808.44220,538791.0,38398.00000,448640.00
15,Industrie,2014,33156.00,237109.07000,369836.0,120688.0,157333.576100,313636.494700,68236.0,136074.06290,545126.0,42163.00000,66508.00
16,Industrie,2015,27152.00,240961.00000,347509.0,125701.0,166151.670900,314916.818000,68531.0,138665.00000,614110.0,43156.00000,292196.00
17,Industrie,2016,33958.00,252209.00000,335965.0,123479.0,178373.717800,359891.299900,71280.0,138848.00000,581898.0,41579.00000,5833.00
18,Industrie,2017,47314.00,260564.00000,344879.0,134636.0,199379.886600,390176.061700,75473.0,144090.00000,601493.0,41702.00000,727565.00
19,Industrie,2018,35698.00,268418.00000,363895.0,140286.0,215113.205100,421465.563600,78460.0,149206.00000,629230.0,44111.00000,727565.00
23,BTP,2011,53376.50,3625.68000,69380.0,30570.0,19642.101010,20607.993080,16458.0,42698.65320,114983.0,12460.00000,5611.15
24,BTP,2012,43796.00,3669.20000,71395.0,32679.0,21596.150430,17906.101880,17587.0,43651.81920,120075.0,13258.00000,4623.60
25,BTP,2013,42858.50,3710.10000,73880.0,33381.0,21263.673360,18825.616870,18031.0,44344.97565,124261.0,14035.00000,3791.25
26,BTP,2014,45312.00,3751.22000,76111.0,36423.0,22784.682760,17235.636840,17933.0,45499.78814,129687.0,14274.00000,4414.25
27,BTP,2015,33296.00,3789.00000,76327.0,36969.0,26065.775670,17718.458060,18157.0,45796.00000,130911.0,14765.00000,3344.00
28,BTP,2016,49672.00,3831.00000,76948.0,39165.0,28958.151990,18497.807770,17600.0,46543.00000,134823.0,15468.00000,5415.15
29,BTP,2017,46739.00,3867.00000,78555.0,40668.0,30512.687730,18232.518650,18732.0,47374.00000,138250.0,15954.00000,8043.15
30,BTP,2018,40124.00,3891.00000,80104.0,40471.0,34952.003900,19908.514860,20389.0,47403.00000,139790.0,15970.00000,8043.15
34,Énergie,2011,14531.00,20240.84000,15341.0,7264.0,59.000000,5619.100425,2956.0,16302.80224,29271.0,5475.00000,1778.90
35,Énergie,2012,9614.00,22033.75000,18555.0,5788.0,72.000000,5511.191723,3227.0,15217.89932,31212.0,5597.00000,533.40
36,Énergie,2013,9843.50,22676.37000,16906.0,8026.0,56.000000,5927.644770,3340.0,17478.28098,32175.0,6071.00000,4828.95
37,Énergie,2014,9712.00,24087.31000,17775.0,8501.0,63.000000,6366.210379,3556.0,17710.65318,34047.0,6706.00000,792.95
38,Énergie,2015,13995.50,25182.00000,17145.0,13001.0,102.000000,5292.826056,3964.0,18808.00000,38240.0,6865.00000,859.85
39,Énergie,2016,20083.50,26679.00000,15903.0,16449.0,118.000000,5400.807371,4166.0,19280.00000,40883.0,7069.00000,882.85
40,Énergie,2017,24790.00,27540.00000,16508.0,18489.0,126.000000,6571.020394,4535.0,19921.00000,43529.0,7601.00000,1146.20
41,Énergie,2018,20535.00,27540.00000,17930.0,19104.0,264.000000,4066.661595,4594.0,20972.00000,45836.0,7841.00000,1146.20
45,Tourisme,2011,1593.00,24689.55000,11238.0,10837.0,93.584058,2171.315093,2287.0,15780.52330,28676.0,5282.00000,397.30
46,Tourisme,2012,929.00,25095.00000,11677.0,11364.0,96.363783,1865.729416,2374.0,16192.27569,30003.0,5530.00000,229.90
47,Tourisme,2013,1592.00,25814.19000,12533.0,12372.0,84.656033,1636.794503,2506.0,16953.91170,32261.0,5845.00000,335.90
48,Tourisme,2014,2141.00,26327.34000,12791.0,13155.0,95.238038,1833.350870,2540.0,17320.86833,33789.0,6192.00000,116.80
49,Tourisme,2015,915.00,25328.00000,12670.0,13049.0,109.824043,1825.694184,2462.0,17095.00000,33845.0,6411.00000,375.80
50,Tourisme,2016,1688.00,26568.00000,13262.0,13766.0,110.668844,2263.021389,2578.0,17716.00000,35747.0,6784.00000,485.40
51,Tourisme,2017,2063.00,30050.00000,14944.0,17977.0,116.450052,2297.596470,3047.0,19752.00000,41603.0,6695.00000,96.70
52,Tourisme,2018,2477.00,32019.00000,15912.0,19647.0,112.489166,2594.543288,3301.0,20944.00000,44720.0,7029.00000,96.70
56,Commerce,2011,16768.50,6722.59000,39242.0,53394.0,0.000000,0.000000,1306.0,69046.87373,111264.0,13377.00000,1238.65
57,Commerce,2012,15297.00,6788.24000,41146.0,56574.0,0.000000,0.000000,1499.0,71887.47642,118279.0,14716.00000,1154.35
58,Commerce,2013,15063.00,6887.72000,40577.0,55445.0,0.000000,0.000000,1543.0,70431.70213,116409.0,14169.00000,698.45
59,Commerce,2014,16021.00,7105.26000,41166.0,56655.0,0.000000,0.000000,1637.0,71567.60744,118323.0,14464.00000,1487.80
60,Commerce,2015,15159.00,7118.00000,42712.0,56071.0,0.000000,0.000000,1726.0,71931.00000,119680.0,14575.00000,2028.00
61,Commerce,2016,19104.00,7193.00000,43433.0,59805.0,0.000000,0.000000,1770.0,75711.00000,125208.0,14881.00000,1919.25
62,Commerce,2017,21441.00,7337.00000,44776.0,61226.0,0.000000,0.000000,1844.0,78145.00000,128787.0,15281.00000,1739.80
63,Commerce,2018,19151.50,7337.00000,46529.0,63866.0,0.000000,0.000000,1939.0,79932.00000,134341.0,15964.00000,1739.80
67,Services,2011,121944.50,104671.81650,92512.0,90251.0,25583.914050,29940.856670,23743.0,232849.70760,332790.0,53083.00000,1469403.00
68,Services,2012,95807.50,113842.66230,101059.0,93037.0,27040.245960,31380.719640,26081.0,252446.05900,354081.0,59670.83333,952189.00
69,Services,2013,87029.25,119680.19930,105682.0,91225.0,27510.213930,30099.977160,26325.0,259976.90290,365730.0,63890.33333,701267.00
70,Services,2014,102629.50,123132.72030,112102.0,94806.0,31139.744680,31362.388910,28057.0,267220.27590,380078.0,67049.16667,271467.00
71,Services,2015,100770.00,126638.00000,116482.0,100912.0,31386.961080,31041.774070,29013.0,271085.00000,393384.0,68092.00000,949419.00
72,Services,2016,129975.25,135508.00000,118888.0,102190.0,30406.247060,33914.032960,28612.0,276916.00000,401820.0,69117.66667,642950.00
73,Services,2017,123993.25,140527.00000,124385.0,108773.0,33246.557950,40747.627940,29075.0,281472.00000,415898.0,70790.66667,946802.00
74,Services,2018,130379.00,144766.00000,132278.0,112788.0,34620.310020,43754.432220,29820.0,288043.00000,433727.0,71612.50000,946802.00